In [2]:
# Concept of OOPS

In [7]:
class SchoolMember:
    # Represents any school member.
    def __init__ (self,name,age):
        self.name = name
        self.age = age
        print("(Initialized School Member: {})".format(self.name))

    def tell (self):
        # Showing all the details
        print("Name:'{}'  Age: '{}'".format(self.name,self.age),end ="")
class Teacher(SchoolMember):
    # Represents a teacher.
    def __init__(self,name,age,salary):
        SchoolMember.__init__(self,name,age)
        self.salary = salary
        print("(Intialized Teacher: {})".format(self.name))
    def tell (self):
        SchoolMember.tell(self)
        print("Salary : {:d} ".format(self.salary))
class Student(SchoolMember):
    # Represent a student.
    def __init__(self,name,age,marks):
        SchoolMember.__init__(self, name,age)
        self.marks = marks
        print("(Initialized Student:{})".format(self.name))
    def tell (self):
        SchoolMember.tell(self)
        print("Marks: {:d}".format(self.marks))

t = Teacher('Mr. Nikhil Kapoor',51,120000)
s = Student('Swaroop',25,95)
print()

(Initialized School Member: Mr. Nikhil Kapoor)
(Intialized Teacher: Mr. Nikhil Kapoor)
(Initialized School Member: Swaroop)
(Initialized Student:Swaroop)

In [8]:
members = [t,s]
for member in members:
    member.tell()

Name:'Mr. Nikhil Kapoor'  Age: '51'Salary : 120000
Name:'Swaroop'  Age: '25'Marks: 95

In [ ]:
class Employee:
    def __init__(self,name,age):
        self.name = name
        self.age = age