# Introduction (DataFrame)

Simple Program

In [1]:
import pandas as pd
mydata = {
    'cars' : ['BMW','Volvo','Ford'],
    'Passings':[3,7,2]
}
mybar = pd.DataFrame(mydata)

print(mybar)

    cars  Passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas as pd
print(pd.__version__)

2.2.3

Example 1: Simple Bar chart

In [5]:
import pandas as pd
import numpy as np

# creating an empty series

ser = pd.Series()
print("Pandas Series",ser)

data = np.array(['d','s','g','r','e'])
ser = pd.Series(data)

print("Pandas Series",ser)

Pandas Series Series([], dtype: object)
Pandas Series 0    d
1    s
2    g
3    r
4    e
dtype: object

Creating a dataframe using the pandas library

In [8]:
import pandas as pd

df = pd.DataFrame()
print(df)

lst = ['Learning ', "Python","Library","is","creating","interest "]
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
           0
0  Learning
1     Python
2    Library
3         is
4   creating
5  interest

Creating  dataframe from dict of ndarray/list

In [10]:
import pandas as pd
data = {
    'Name ':['Prashant','Deepak','Anurag','Adhyay','Anshika'],
    'Age':[20,24,16,12,20],
    'Degree':['Btech','Job','9 th','6 th','B.A'],
    'Year ':[2023,2020,2024,2024,2023],
}
df = pd.DataFrame(data)
print(df)

      Name   Age Degree  Year
0  Prashant   20  Btech   2023
1    Deepak   24    Job   2020
2    Anurag   16   9 th   2024
3    Adhyay   12   6 th   2024
4   Anshika   20    B.A   2023