## Python Pandas Series

Pandas Series  Examples

In [1]:
import pandas as pd 
data = [1,2,3,4,5]

ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Creating series from array

In [2]:
import pandas as pd
import numpy as np
data = np.array(['p','r','a','s','h','a','n','t'])

ser = pd.Series(data)
print(ser)

0    p
1    r
2    a
3    s
4    h
5    a
6    n
7    t
dtype: object

Creating a series from Lists

In [5]:
import pandas as pd

list = ['prashant','Anshika','Anurag','Deepak']
ser = pd.Series(list)
print(ser)

0    prashant
1     Anshika
2      Anurag
3      Deepak
dtype: object

Accessing element from series with position

In [10]:
import pandas as pd
import numpy as np
data = np.array(['prashant','Anshika','Anurag','Deepak'])
series = pd.Series(data)
print(series)

print(series[:2])
print(series[2:])
print(series[2:3])

0    prashant
1     Anshika
2      Anurag
3      Deepak
dtype: object
0    prashant
1     Anshika
dtype: object
2    Anurag
3    Deepak
dtype: object
2    Anurag
dtype: object

Accessing a single element using the index label

In [11]:
import pandas as pd
import numpy as np

data = np.array(['Deepak','Anshika','Prashant','Anurag','Adhyaya','Abhinav','Harsh','Sakshi','Akash','Meenu Dii','Jyoti Dii'])
ser = pd.Series(data,index = [10,11,12,13,14,15,16,17,18,19,20])

# accessing the element
print(ser[13])

Anurag

Indexing and selecting the data

In [2]:
import pandas as pd
# Reading the csv file
dataframe = pd.read_csv('mtcars.csv')
# taking out the model from the csv file
ser = pd.Series(dataframe['mpg'])

# taking out only 10 names of the csv file
data = ser.head(10)
print(data)

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
7    24.4
8    22.8
9    19.2
Name: mpg, dtype: float64

In [7]:
data[3:6]
data.loc[6:7]
data.iloc[2:5]

2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [8]:
import pandas as pd
data = pd.Series([1,2,3,4],index = ['a','b','c','d'])
data1 = pd.Series([2,4,6,8],index = ['a','b','d','e'])

print(data,"\n", data1)

a    1
b    2
c    3
d    4
dtype: int64
 a    2
b    4
d    6
e    8
dtype: int64

In [9]:
data.add(data1,fill_value = 0)

a     3.0
b     6.0
c     3.0
d    10.0
e     8.0
dtype: float64

Code 2

In [10]:
import pandas as pd

data = pd.Series([1,3,5,7], index = ['a','b','c','d'])
data1 = pd.Series([1,3,5,7], index = ['a','b','d','e'])

print(data ,"\n",data1)

a    1
b    3
c    5
d    7
dtype: int64
 a    1
b    3
d    5
e    7
dtype: int64

In [12]:
data.sub(data1,fill_value = 0)

a    0.0
b    0.0
c    5.0
d    2.0
e   -7.0
dtype: float64